body {
  margin: 0;
  height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: linear-gradient(-45deg, #ba0e0e, #a9ae09, #e229bd, #aa0039);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* animated background */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
input[type="password"] {
  width: 60%;
  display: block;
  margin: 5px auto;
}
/* main box */
.container {
  width: 340px;
  padding: 20px;
  border-radius: 16px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  color: white;
}

/* heading */
h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* inputs */
textarea, input {
  width: 100%;
  margin: 6px 0;
  padding: 10px;

  border: none;
  border-radius: 8px;
  outline: none;

  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* textarea */
textarea {
   width: 90%;
  height: 90px;
  resize: none;
}

/* button */
button {
  width: 50%;
  display: block;
  padding: 10px;
   margin: 10px auto;
  margin-top: 8px;

  background: #00c6ff;
  border: none;
  border-radius: 8px;

  color: white;
  cursor: pointer;
  font-weight: 600;

  transition: 0.3s;
}

button:hover {
  background: #0072ff;
  transform: scale(1.09);
}

/* output text */
p {
  margin-top: 10px;
  text-align: center;
}