{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>secret love 💌😶‍🌫️</title>

  <link rel="stylesheet" href="{% static 'secret/style.css' %}">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<h1>Hide messages in plain images 😶‍🌫️</h1>

<div class="container">

  <h2>📁 Encode Image</h2>

  <input type="file" id="encodeImageInput">

  <textarea id="message" placeholder="Type your secret message..."></textarea>

  <input type="password" id="password" placeholder="Password">

  <button onclick="encode()">Encode & Download</button>

  <hr style="margin:15px 0; opacity:0.2;">

  <h2>🔍 Decode Image</h2>

  <input type="file" id="decodeImageInput">

  <input type="password" id="decodePassword" placeholder="Password">

  <button onclick="decode()">Decode</button>

  <p id="output"></p>

</div>

<canvas id="canvas" style="display:none;"></canvas>

<script src="{% static 'secret/script.js' %}"></script>

</body>
</html>